.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  padding-top: 10px;
}

.profile-head {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 880px) {
  .profile-head {
    flex-direction: column;
  }
}

.section {
  flex: 1;
  display: flex;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 30px 40px -20px rgb(173, 172, 172);
  border-top: rgb(9, 187, 9) solid 5px;
  border-radius: 10px;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.row {
  flex-direction: row !important;
  justify-content: space-evenly;
  padding: 5px;
}

.history-label {
  margin-top: 20px;
  display: flex;

  justify-content: center;
}

.history-container {
  display: grid;
  grid-auto-flow: column;
  max-width: 101%;
  overflow: scroll;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.section-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}

.workout-card {
  background: rgba(255, 255, 255);
  box-shadow: 0px 30px 40px -20px rgb(173, 172, 172);
  border-top: rgb(9, 187, 9) solid 5px;

  margin-bottom: 10px;
  max-width: 400px;
  min-width: 350px;
  border-radius: 10px;
  margin: 20px;
  transition: transform 0.25s ease-in-out;
  cursor: pointer;
}

.workout-card:hover {
  transform: translateY(-5%);
}

.section-stats div {
  display: grid;
}

.profile-info {
  flex: 1;
  max-width: 50%;
}

.profile-info p,
h2 {
  text-align: center;
  padding: 5px 0;
}

.avatar-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: black solid 1px;
  background: grey;
}

.workout-card div {
  padding: 1px 10px;
}

.item-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
}

.two div {
  grid-template-columns: 50% 50%;
}

.stat {
  justify-self: right;
  margin-right: 5px;
}

.workout-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
  border-radius: 10px;
}

.section-visual {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background: green;
}
