.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  padding-top: 10px;
}

.info-container {
  display: none;
  border: black solid 1px;
}

.profile-section {
  display: flex;
  background-color: rgba(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(173, 172, 172);
  border: solid 1px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 5px;
}

.history-label {
  margin-top: 20px;
  display: flex;

  justify-content: center;
}

.history-container {
  display: grid;
  grid-auto-flow: column;
  max-width: 101%;
  overflow: scroll;
  margin-bottom: 10px;
}

.section-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}

.section-item {
  background-color: rgba(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(173, 172, 172);
  border: solid 1px rgba(0, 0, 0, 0.7);
  margin-bottom: 10px;
  max-width: 400px;
  min-width: 350px;
  border-radius: 10px;
  margin: 20px;
}

.section-stats div {
  display: grid;
}

.item div {
  padding: 1px 10px;
}

.item-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
}

.two div {
  grid-template-columns: 50% 50%;
  margin: 0 5px;
}

.stat {
  justify-self: right;
  margin-right: 5px;
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.9;
}

.graph {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 190px;
  width: 190px;
  border-radius: 50%;
  background: green;
}
