.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5%;
  padding-top: 10px;
}

.profile-head {
  display: flex;
  flex-direction: row;
  width: 105%;
}

@media (max-width: 900px) {
  .profile-head {
    flex-direction: column;
  }
}

.section {
  flex: 1;
  display: flex;
  background-color: var(--sectionBackground);
  box-shadow: var(--boxShadow);
  /*border: #385e72 solid 1px;*/
  border-top: var(--borderMain);
  border-radius: 20px;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  padding: 5px;
  margin: 10px;
}

.row {
  flex-direction: row !important;
  justify-content: space-evenly;
  padding: 5px;
}

.history-container {
  display: flex;
  flex-direction: column;
  max-width: 105%;
  min-width: 105%;

  align-items: left;
}

.history-container h1 {
  margin-left: 50px;
  width: 10px;
  height: 40px;
  margin-bottom: 10px;

  font-size: 300%;
  cursor: pointer;
  transform: translateY(-40%);
  opacity: 0.5;
}

.history-container h1:hover {
  opacity: 1;
  color: var(--btnColor);
}

.history-list {
  display: grid;
  grid-auto-flow: column;
  max-width: 101%;
  height: 550px;
  overflow: scroll;
}

.section-container {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}

.summary {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 10px;
}

.workout-card {
  background: var(--sectionBackground);
  box-shadow: var(--boxShadow);
  border-top: var(--borderSecondary);
  width: 350px;
  height: 450px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
}

.workout-card .stats div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stats div p {
  flex: 1;
}

.stats {
  max-height: 150px;
  overflow: scroll;
}

.workout-card img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.workout-visual {
  background: whitesmoke;

  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.workout-visual div {
  display: flex;
  flex-direction: row;
  opacity: 0;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}

.workout-visual p {
  color: white;
  border: white solid 2px;
  font-weight: 900;
  font-size: 20px;
  padding: 5px 15px;
  margin: 0 5px;
  cursor: pointer;
}

.edit:hover > img {
  opacity: 0.5;
  z-index: 0;
}

.edit:hover > div {
  opacity: 1;
  z-index: 1;
}

.edit p:hover {
  background: rgb(255, 255, 255, 0.4);
  border: var(--headerBackground) solid 2px;
  color: var(--headerBackground);
}

.edit .delete:hover {
  color: red;
  border: red solid 2px;
}

.section-stats div {
  display: grid;
}

.profile-info {
  flex: 1;
  max-width: 50%;
}

.profile-info p,
h2 {
  text-align: center;
  padding: 5px 0;
}

.avatar-container {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: black solid 1px;
  overflow: hidden;
}

.avatar-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.upload-btn {
  text-align: center;
  z-index: 1000000;
}

.workout-card div {
  padding: 1px 10px;
}

.item-title {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 25px;
}

.two div {
  grid-template-columns: 50% 50%;
}

.stat {
  justify-self: right;
  margin-right: 5px;
}

.section-visual {
  height: 100%;
  width: 100%;
}

.add-friend,
.friends {
  cursor: pointer;
  color: black;
  border: #189ab4 solid 1px;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 !important;
}

.add-friend {
  margin-top: 5px;
}

.upload-btn {
  margin-top: 3px;
  cursor: pointer;
  border: var(--btnColorSec) solid 1px;
}

.add-friend:hover,
.friends:hover,
.upload-btn:hover {
  background: none;
  color: white;
  border: var(--btnColorSec) solid 1px;
  background: var(--btnColorSec);
  opacity: 0.7;
}

.svg-container {
  display: flex;
  position: relative;
  align-content: center;
  width: 100%;
  height: 110%;
  vertical-align: top;
}

svg {
  text-anchor: middle;
  opacity: 0.9;
}

.avatar-form {
  display: flex;

  align-items: center;
  margin: 20px 0;
}
