.feed-container {
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

.feed-section {
  width: 100%;
  display: grid;
}

.pic {
  grid-template-columns: 50% 50%;
}

.workout-image {
  max-height: 300px;
}

.feed-item {
  background-color: var(--sectionBackground);
  box-shadow: var(--boxShadow);
  border-left: var(--borderMain);
  border-radius: 10px 0px 0px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100%;
}

.post {
  margin-bottom: 30px;
  border-left: var(--borderSecondary) !important;
}

@media (max-width: 650px) {
  .feed-section {
    grid-template-columns: 100%;
  }
  .feed-item {
    border-top: var(--borderMain);
    border-radius: 10px 10px 0px 0px;
    border-left: none;
  }
  .post {
    border-top: var(--borderSecondary) !important;
    border-left: none !important;
  }
}

.feed-item p {
  margin: 0 5px;
}

.input-feed {
  min-width: 90%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.input-feed input {
  padding: 10px;
  font-size: 100%;
  outline: none;
  border: var(--btnColorSec) solid 1px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.feed-username {
  font-size: 150%;
  font-weight: 900;
  cursor: pointer;
}

.feed-username:hover,
.comment h4:hover {
  text-decoration: underline;
}

.feed-date {
  border-bottom: grey solid 1px;
  font-size: 75%;
}

.feed-description {
  padding: 10px;
}

.feed-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feed-visual {
  max-height: 300px;
  min-height: 300px;
}

.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}

.filter {
  background: white;
  padding: 5px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 120px;
  cursor: pointer;
  z-index: 1;
}

.filter-dropdown {
  background: var(--sectionBackground);
  border: black solid 1px;
  z-index: 1;
  height: 60px;
  width: 100%;
}

.filter p {
  padding: 0 5px;
}

.comments-container {
  position: relative;
  display: flex;
  flex-direction: column;

  max-height: 300px;
  overflow: auto;
}

.comment-tag {
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  font-size: 75%;
}

.comment {
  display: inline-block;
  font-size: 80%;
  padding: 0 5px;
  margin: 5px;
  margin-left: 30px;
}

.comment div {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.comment h4 {
  font-size: 140%;
  cursor: pointer;
}

.comment-body {
  border-left: grey solid 1px;
  padding: 0 15px;
}

.comment-date {
  font-size: 70%;
  padding-left: 20px;
}

.comment-input {
  padding-bottom: 5px;
  width: 60%;
  margin: 5px 10px;
}

.comment-input input {
  width: 100%;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 2px;
  margin-top: 2px;
  outline: none;
}
