.feed-container {
  position: relative;
  min-height: 200vh;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
}

.feed-section {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
}

/*
.pic {
  grid-template-columns: 50% 50%;
}
*/
.workout-image {
  position: relative;
  max-height: 400px;
}

.feed-item {
  background-color: var(--sectionBackground);
  box-shadow: var(--boxShadow);
  border: #385e72 solid 1px;
  border-top: var(--borderMain);
  border-radius: 10px 10px 10px 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 100%;
}

.post {
  margin-bottom: 30px;
  border-top: var(--borderSecondary);
}

/*
@media (max-width: 650px) {
  .feed-section {
    grid-template-columns: 100%;
  }
}
*/

.feed-stats {
  width: 70%;
  margin: 20px auto;
}

.feed-stats div p:nth-last-of-type(1) {
  width: 150px;
  padding-left: 45px;
}

.feed-stats div p:nth-child(1) {
  border-right: 1px rgb(128, 128, 128, 0.5) solid;
  margin-right: 20%;
}

.input-feed {
  min-width: 90%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.input-feed input {
  padding: 10px;
  font-size: 100%;
  outline: none;
  border: var(--btnColorSec) solid 1px;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: auto;
}

.post-user {
  display: flex !important;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.post-avatar {
  background: white;
  display: flex;
  max-height: 70px;
  min-height: 70px;
  max-width: 70px;
  min-width: 70px;
  border-radius: 50%;
  border: grey solid 1px;
  margin: 5px;
  overflow: hidden;
  cursor: pointer;
}

.username-date {
  align-content: flex-start;
  display: grid;
  grid-auto-columns: 60% 40%;
  width: 100%;
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
}

.post-avatar img,
.post-avatar div {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feed-username {
  font-size: 120%;
  font-weight: 900;
  cursor: pointer;
}

.feed-username:hover,
.comment h4:hover {
  text-decoration: underline;
}

.feed-date,
.card-date {
  align-content: flex-start;
  font-size: 60%;
}

.feed-description {
  font-size: 120%;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-right: 25px;
}

.feed-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.feed-visual {
  max-height: 300px;
  min-height: 300px;
}

.smooth-image {
  transition: opacity 1s;
}
.image-visible {
  opacity: 1;
}
.image-hidden {
  opacity: 0;
}

.filter {
  background: white;
  padding: 5px;
  margin: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 120px;
  cursor: pointer;
  z-index: 1;
}

.filter-dropdown {
  background: var(--sectionBackground);
  border: black solid 1px;
  z-index: 1;
  height: 110px;
  width: 100%;
}

.filter p {
  padding: 0 5px;
}

.comments-container {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  max-height: 300px;
  overflow: auto;
}

.comment-tag {
  border-top: rgb(128, 128, 128, 0.3) solid 1px;
  border-bottom: rgb(128, 128, 128, 0.3) solid 1px;
  font-size: 15px;
  padding-left: 25px;
  margin-bottom: 15px;
}

.comment {
  display: flex;
  padding-left: 25px;
  margin-bottom: 7px;
}

.comment-body {
  padding-right: 25px;
}

.comment h4 {
  cursor: pointer;
  margin-right: 5px;
  font-size: 15px;
}

.comment div {
  padding-left: 5px;
}

.comment-date {
  font-size: 60%;
}

.comment-input {
  padding-bottom: 5px;
  width: 100%;
  margin: 5px 20px;
  margin-bottom: 15px;
}

.comment-input input {
  width: 90%;
  border: grey solid 1px;
  border-radius: 5px;
  outline: none;
}
