.chat-container {
  display: flex;
  flex-direction: row !important;
  height: 100%;
  max-width: 800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.contacts {
  flex: 1 !important;
  overflow: auto;
  max-height: 83vh;
  align-self: start;
  overflow: auto;
  border-right: rgba(173, 173, 173, 0.5) solid 1px;
}

.messages {
  flex: 2 !important ;
}

.contacts p,
.contacts h1 {
  padding: 5px;
  width: 100%;
  border-bottom: rgb(173, 172, 172, 0.6) solid 1px;

  cursor: pointer;
}

.contacts p:hover {
  background: rgba(173, 173, 173, 0.5);
  border-left: rgb(9, 187, 9) 5px solid;
}

.contacts div {
  display: flex;
  flex-direction: row;
}

.new-chat {
  text-align: center;
  cursor: pointer;
}

.new-chat:hover {
  color: rgb(32, 74, 211);
}

.conversation {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  max-height: 75vh;
  min-height: 75vh;
  width: 100%;
  overflow: auto;
  background: rgba(173, 173, 173, 0.3);
}

.conversation div {
  display: flex;
  flex-direction: row;
}

.received,
.sent {
  display: flex;
  position: relative;
  border-radius: 10px;
  color: white;
  padding: 2.5px 5px;
  max-width: 50%;
}

.received {
  align-self: flex-start;
  margin-left: 5px;
  background: rgb(32, 74, 211);
}

.sent {
  align-self: flex-end;
  margin-right: 5px;
  background: rgb(9, 187, 9);
}
