.landing-img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-quote {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
  top: 25%;
  right: 10%;
  font-size: 25px;
  padding: 0 5px;
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  border-top: rgb(9, 187, 9) solid 5px;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;

  width: 250px;
  padding: 30px;
  padding-bottom: 10px;
}

.close-btn {
  color: rgba(0, 0, 0);
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.form-title {
  color: rgba(0, 0, 0);
  margin-right: auto;
  margin-left: auto;
}

.close-btn:hover {
  color: rgb(9, 187, 9);
}

.form-field {
  position: relative;
  margin-bottom: 25px;
}

.form-field label {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0);
}

.form-field input,
.form-field select {
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 17px;
  color: black;
}

.form-field input:focus,
.form-field select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(9, 187, 9);
}

.form-button {
  position: relative;
  right: -200px;
  background: transparent;
  border: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.form-button:hover {
  color: rgb(9, 187, 9);
}
