.landing-img-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.landing-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.landing-quote {
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  top: 25%;
  right: 10%;
  font-size: 25px;
  padding: 0 5px;
  z-index: 1;
}

.form-field {
  position: relative;
  margin-bottom: 25px;
}

.form-field label {
  position: absolute;
  top: 50px;
  left: 0px;
  font-size: 14px;
  color: rgba(0, 0, 0);
}

.form-field input,
.form-field select {
  margin-top: 10px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0);
  background: transparent;
  width: 100%;
  padding: 8px 0 5px 0;
  font-size: 17px;
  color: black;
}

.form-field input:focus,
.form-field select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--btnColor);
}

.form-button {
  position: relative;
  right: -200px;
  background: transparent;
  border: none;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.form-button:hover {
  color: var(--btnColorSec);
}

.error-msg {
  color: red;
  font-size: 80%;
}
