@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

:root {
  --appBackground: #f2ffff;
  --borderMain: #385e72 solid 12px;
  --borderSecondary: #2b7c85 solid 10px;
  --sectionBackground: #f9ffff;
  --boxShadow: 0px 30px 40px -20px rgb(173, 172, 172);
  --btnColor: #75e6da;
  --btnColorSec: #189ab4;
  --headerBackground: #385e72;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.app {
  font-size: 17px;
  min-height: 100vh;
  position: relative;
  top: 0;
  width: 100vw;
  background: var(--appBackground);
}

.header-container {
  position: relative;
  z-index: 999;
  background: var(--headerBackground);
  padding: 5px 0;
  box-shadow: var(--boxShadow);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  flex: 3;
  display: flex;
  margin-left: 7%;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
}
.title h1 {
  color: var(--appBackground);
  cursor: pointer;
}

.header-btns {
  flex: 1;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.login-btn,
.signup-btn {
  background: transparent;
  color: var(--appBackground);
  height: 30px;
  width: 90px;
  border: 0;
  font-size: 100%;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover,
.logout p:hover {
  opacity: 1;
  border-bottom: 1px solid var(--btnColor);
  color: var(--btnColor);
}

.menu-icon {
  position: relative;
  top: 17px;
  right: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu-icon div {
  z-index: 10;
  position: relative;
  background: var(--appBackground);
  width: 100%;
  height: 3px;
  margin: 3px 0;
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
  .dropdown {
    display: none;
  }
}

.menu-list {
  position: relative;
  top: 20px;
  right: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 100px);
  padding: 0 5px;
}

.menu-list p,
.dropdown p {
  color: var(--appBackground);
  text-align: center;
  cursor: pointer;
  border: var(--headerBackground) solid 1px;
}

.dropdown p {
  margin-bottom: 5px;
}

.menu-list p:hover,
.dropdown p:hover {
  opacity: 1;
  border-bottom: 1px solid var(--btnColor);
  color: var(--btnColor);
}

@media (max-width: 600px) {
  .menu-list {
    display: none;
  }
}

.dropdown {
  z-index: 9;
  position: absolute;
  top: 17px;
  right: 27px;
  border-radius: 10px 1px 10px 10px;
  background: var(--headerBackground);
  padding: 30px;
  border: rgba(0, 0, 0, 0.7) solid 1px;
}

.modal-dimmer {
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%);
  width: 250px;
  padding: 30px;
  border-radius: 3px;
  border-top: var(--borderMain);
  background: var(--appBackground);
}

.close-btn {
  color: rgba(0, 0, 0);
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  border: var(--appBackground) solid 1px;
}

.logout div {
  display: flex;
  margin: 10px;
  justify-content: space-evenly;
  margin: 30px 0;
}

.modal-container h1 {
  text-align: center;
  color: var(--btnColorSec);
}

.logout p {
  cursor: pointer;
  border: var(--appBackground) solid 1px;
}

.logout p:hover {
  color: var(--btnColorSec);
  border-bottom: var(--btnColorSec) solid 1px;
}

.close-btn:hover {
  color: var(--btnColorSec);
  border: var(--appBackground) solid 1px !important;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 7px solid var(--btnColorSec);
  border-top: 7px solid var(--btnColor);
  border-bottom: 7px solid var(--btnColor);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.3;
  animation: spin 2s linear infinite;
}

.workout-visual .loader {
  width: 40px;
  height: 60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
