@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Titillium Web", sans-serif;
}

.app {
  font-size: 17px;
  min-height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  background: rgb(233, 233, 233);
}

.header-container {
  position: relative;
  z-index: 999;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 5px 3px rgb(173, 172, 172);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  flex: 3;
  display: flex;
  margin-left: 7%;
  justify-content: left;
  align-items: center;
  text-transform: uppercase;
  font-size: 25px;
}
.title h1 {
  cursor: pointer;
}

.header-btns {
  flex: 1;
  max-width: 200px;
  min-width: 200px;
  display: flex;
  margin: 15px;
  justify-content: space-between;
}

.login-btn,
.signup-btn {
  background: transparent;
  opacity: 0.5;
  height: 30px;
  width: 90px;
  border: 0;
  font-size: 100%;
  cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover {
  opacity: 1;
  border-bottom: 1px solid rgb(9, 187, 9);
  color: rgb(9, 187, 9);
}

.menu-icon {
  position: relative;
  top: 17px;
  right: 30px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu-icon div {
  z-index: 10;
  position: relative;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.7);
  margin: 3px 0;
}

@media (min-width: 600px) {
  .menu-icon {
    display: none;
  }
  .dropdown {
    display: none;
  }
}

.menu-list {
  position: relative;
  top: 20px;
  right: 10px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 100px);
  padding: 0 5px;
}

.menu-list p,
.dropdown p {
  text-align: center;
  cursor: pointer;
  opacity: 0.5;
}

.dropdown p {
  margin-bottom: 5px;
}

.menu-list p:hover,
.dropdown p:hover {
  opacity: 1;
  border-bottom: 1px solid rgb(9, 187, 9);
  color: rgb(9, 187, 9);
}

@media (max-width: 600px) {
  .menu-list {
    display: none;
  }
}

.dropdown {
  z-index: 9;
  position: absolute;
  top: 17px;
  right: 27px;
  border-radius: 10px;
  background: rgba(255, 255, 255);
  padding: 25px;
  padding-bottom: 20px;
}

.modal-dimmer {
  z-index: 1000;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}
